#navbarNavDropdown{
    display: flex;
    justify-content:center;
    margin: 0 30px;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    font-size: 20px;
}
header{
    background-color: #333;
    padding: 70px;
}
.cow{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #fff;
}
.p1{
    color: #fff;
    display: flex;
    justify-content: center;
}
img{
    width: 60px;
    height: 60px;
    margin-left: 15px;
}
h1{
    display: flex;
    justify-content: center;
}
#tariffs{
    margin: 50px;
}
/*до забронбвати*/
.form-container {
    width: 300px;
    margin: 50px auto;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  /*до модальног овікна*/
  .form-container {
    width: 300px;
    margin: 50px auto;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  .form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


/*таби*/
.tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  .tab {
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .tab.active {
    border-bottom: 3px solid #c70000;
    color: #c70000;
  }

  /* Стилі для контенту табів */
  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: flex;
    justify-content: wrap;
     /* Дозволяє розподіл блоків на новий ряд, коли вони не поміщаються в контейнер */
  }
  .column {
    width: calc(25% - 20px);
      margin-left: 20px;
      box-sizing: border-box;
      flex-direction: column;
      align-items: flex-end;
  }
  .icons {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Додатковий відступ між іконками */
  }

  .tab{
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.tab:hover::after{
    width: 100%;
    background-color: #c70000;
}
.container{
    border-radius: 2px;
    border-color: gray;
}
.buttom{
    background-color: #c70000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    display:inline-block;
    text-decoration: none;
    font-size: 25px;
}
.buttom:hover{
    background-color: #860101;
}
.end{
    background-color: #333;
    color: #fff;
}

svg{
    color:#fff ;
    margin: 25px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #222;
    color: #fff;
}
.card-img-top{
    width: 300px;
    height: 300px;
    padding: 5px;
}
.cards{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.cardd{
    display: flex;
    justify-content: center;
}
.rent{
    display: flex;
    justify-content: space-around;
    margin: 100px;    
}
.contact{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    align-content: center;
}